@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;500;600&family=Qwitcher+Grypen:wght@700&display=swap');


/* 
    Variables - Colors
        -> to use -> var( variable_name )
        -> Example -> background-color: var(--backgroud_light_color);
*/
:root{
    --backgroud_light_color: #eedfc7;
    --main_dark_color: #474143;
    --main_shadow_color: #7c5802;
    --seccond_light_color: #FFC636;
    --font_heading: 'IBM Plex Mono', monospace;
    --font_content: 'IBM Plex Mono', monospace;
    --font_higlight: 'Qwitcher Grypen', cursive;
    
    /* --main_light_color: #644304; */
    /* --seccond_dark_color:#06063D; */
    /* animation variables */
    --ease_in_out: all 1s ease-in-out;

}



body{
    background-color: var(--backgroud_light_color);
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: var(--font_heading);
}
p, a, li {
    font-family: var(--font_content);
    line-height: 1.8rem;
    letter-spacing: .13rem;
}

img{
    max-width: 45%;
    max-height: 500px;
    object-fit: cover;
}

/* TEST COLOR AND FONT VARIABLE - WILL BE DELETE - SEE IN index.html */

#test_color_font #hfont {
    font-family: var(--font_heading);
}
#test_color_font #highfont {
    font-family: var(--font_higlight);
}
#test_color_font #confont {
    font-family: var(--font_content);
}
#test_color_font #maindcolor {
    color: var(--main_dark_color);
}
#test_color_font #mainlcolor {
    color: var(--main_light_color);
}
#test_color_font #secdcolor {
    color: var(--seccond_dark_color);
}
#test_color_font #seclcolor {
    color: var(--seccond_light_color);
}



/* Universal Class */

.container {
    margin: 0 auto;
    max-width: 90rem;
    padding-left: 5vw;
    padding-right: 5vw;
}
/* Mobiles

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } */

  .btn{
    text-decoration: none;
    color: var(--main_shadow_color);
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--main_shadow_color);
    border-radius: 15%;
  }
  .btn:hover{
    color: var(--backgroud_light_color);
    background-color: var(--main_shadow_color);
    box-shadow: .015rem .015rem 1rem var(--main_shadow_color)
  }
  span{
    color: var(--seccond_light_color);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
  }
  



/* Navbar */

#main-nav {
    background-color: var(--backgroud_light_color);
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

#main-nav div{
    padding-top: 0.6rem;
}
#main-nav #logo{
    display:inline-block;
    color: var(--seccond_light_color);
    font-size: 3.5rem;
    font-family: var(--font_higlight);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
    padding: 0;
    margin-top: .5rem;
}


#main-nav ul {
    list-style-type: none;
    
    /* float: right;
    padding-inline-start: 0; */
}


#main-nav li {
    display: inline-block;
    margin-top: 1rem
}

#main-nav li a {
    color: var(--main_dark_color);
    text-decoration: none;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: var(--font_content);
}


#main-nav li a:hover {
    /* text-shadow: 0.25rem 0.25rem 0.5rem var(--main_dark_color), -0.1rem -0.1rem 0.5rem var(--main_dark_color); */
    color: var(--seccond_light_color);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
    font-weight: bold;
}

#main-nav li a.active {

    border-radius: 10%;
    border-style:dashed;
    padding-top: .25rem;
    padding-bottom: .25rem;
}


/* Footer */

footer{
    height: 8vh;
    background-color: var(--main_dark_color);
}

footer div{
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    color: var(--backgroud_light_color);
}
footer p {
    font-size: 1rem;
}




/* Index.html */

/* Welcome Section */

/* #welcome {
    max-width: 90rem;
    height: 100vh;
    background-image: url(/img/welcome.jpg);
    background-size: cover;
    background-position: center;
    
}
#welcome .container #welcome_text{
    text-align: left;
    margin: 0;
    color: var(--main_shadow_color);
    font-size: 6rem;
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: var(--font_content);
}
#welcome .container #welcome_p{
    text-align: left;
    margin: 0;
    color: var(--main_shadow_color);
    font-size: 2rem;
    position: absolute;
    left: 15.75%;
    top: 80%;

    border: .20rem solid var(--main_shadow_color);
    border-style: dashed;
    border-radius: 10%;
    padding: 0 1rem 0 1rem;
    line-height: 3rem;
}
#welcome .container #welcome_p a {
    text-decoration: none;
    color: var(--main_shadow_color);
}

#welcome .container #five_icon{
    text-align: center;
    margin: 0;
    color: var(--seccond_light_color);
    font-size: 40rem;
    opacity: 70%;
    position: absolute;
    left: 62%;
    top: 14%;
    text-shadow: 1rem 1rem var(--main_shadow_color), 1.2rem 1.2rem  var(--backgroud_light_color), 2rem 2rem  var(--main_dark_color);
    font-family: var(--font_heading);
} */


/* Welcome section NEW */

#welcome {
    min-height: 100vh;
}
#welcome div{
    margin-left: 3.5vw;
}
#welcome .container div #welcome_text{    
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 2rem;
    color: var(--main_shadow_color);
    font-size: 6rem;
    /* font-size: clamp(5vw, 6vw, 8vw); */
}
#welcome div #welcome_p a{
    text-decoration: none;
    color: var(--main_shadow_color);
    font-size: 2rem;
    margin: 3rem 1rem;
}

#welcome .container #five_icon{
    text-align: center;
    margin: 0;
    color: var(--seccond_light_color);

    font-size: 40rem;
    /* font-size: clamp(20rem, 40vw, 50rem); */

    position: absolute;
    left: 62%;
    top: 14%;
    text-shadow: 1rem 1rem var(--main_shadow_color), 1.2rem 1.2rem  var(--backgroud_light_color), 2rem 2rem  var(--main_dark_color);
    font-family: var(--font_heading);
} 

/* About Us Section */

#about_home {
    display: flex;
    gap: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#about_home #about_home_img {
    border-radius: 10%;
    /* box-shadow: .015rem .015rem 1rem var(--main_shadow_color); */
    box-shadow: .3rem .3rem .3rem var(--main_shadow_color);
}

#about_home div h2{
    font-size: 2.5rem;
    color: var(--main_shadow_color);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;
}
#about_home div p{
    padding-bottom: 2rem;
}
#about_home div a{
    font-size: 1rem;
}



/* Jobs Section */
#jobs_img {
    margin-top: 3.5rem;
    height: 15rem;
    width: 100%;
    background-image: url(../images/our_journey.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    box-shadow: 0 .3rem .3rem var(--main_shadow_color), 0 -.3rem .3rem var(--main_shadow_color);
    /* box-shadow: inset 0 .75rem 1rem var(--main_shadow_color), inset 0 -0.75rem 1rem var(--main_shadow_color); */
}
#jobs_img::after{
   content: '';
    position: absolute;
    inset: 0;
    background: var(--backgroud_light_color);
   z-index: -1;
    opacity: .4;
}

#jobs_home {
    margin-bottom: 3rem;
}

#jobs_home div h2{
    font-size: 2.5rem;
    color: var(--main_shadow_color);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;

    margin-top: 2rem;
}

#jobs_home div p{
    padding-bottom: 2rem;
}


/* .backgroundimg {
    height: 15rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
}
.backgroundimg::after{
    content: '';
    position: absolute;
    inset: 0;
    background: white;
   z-index: -1;
   opacity: .5;
} */

/*  Contact Section*/
#contacts_home h1 {
    margin-block-end: 0;
    text-align: center;
    font-size: 3rem;
    background-color: var(--main_shadow_color);
    color: var(--backgroud_light_color);
    padding: 2rem;
}
#contacts_home div {
    display: flex;
}
#contacts_home div .contacts {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: left;
    padding: 2rem;
    margin: 0 5vw;
    
}
#contacts_home div .contacts p{
    text-align: left;
}






/* about.html */

section {
    padding: 3rem;
}
section div {
    margin: 2rem;
}

#about_us {
    display: flex;
    justify-content: space-between;
}


#journey {
    display: flex;
    justify-content: space-between;
}

#whyus {
    display: flex;
    justify-content: space-between;
}
#connect {
    display: flex;
    justify-content: space-between;
}



/* this apply button links jobs to apply form. */

.apply_button {
    background-color: var(--main_dark_color);
    color: var(--backgroud_light_color);
    border: 3px solid var(--backgroud_light_color);
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font_content);
    font-size: 20px;
    cursor: pointer;
    /* basic fade animation over 1s adds to user engagement */
    transition: var(--ease_in_out);
    transition: transform 0.05s ease-in-out;
    
}

  /* button to change when hovered. border changes with the same width so as to only change color */
.apply_button:hover{
    
    background-color: #7c7a7a;
    border: 3px solid var(--seccond_light_color);
    text-shadow: var(--main_shadow_color);
    transform: scale(1.05);
    
}





/*Apply.html*/
/*This one change the font of the form*/


/* title{
    font-family: 'Courier New', Courier, monospace;
} */
/* h1{
    text-align: center;
    color: #6586E6;
} */
legend{
    color: red;
}
/* h1,h2,h3,p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
} */
p{
    letter-spacing: 2px;
}
/*Upload file*/
.upload-box{
    font-size:16px;
    background:#FFFFFF;
    border-radius:30px;
    box-shadow:5px 5px 10px #000000;
    width:350px;
    outline:none;
}
::-webkit-file-upload-button{
    background:#206a5d;
    border:none;
    border-radius:50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline:none;
}
::-webkit-file-upload-button{
    background:#7cfc00;
}
/*Change the border so it will look fit and add box-shadow*/
#firstname{
    border: 1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#lastname{
    border: 1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#dob{
    border: 1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#email{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#phone{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#address{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#suburb{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#state{
    border: 1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#postcode{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#jobnumber{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#other{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
#others{
    border:1px solid;
    box-shadow: 5px 5px 10px #000000;
}
/*Use the type="radio" to make a list of terms and conditions that can close and open*/
.accordion{
    margin:60px auto;
    width:600px;
}
.accordion li{
    list-style:none;
    width:100%;
    margin:20px;
    padding:10px;
    border-radius:8px;
    background:#e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px 6px 10px -1px rgba(255,255,255,0.7)
}
.accordion li label{
    display:flex;
    align-items:right;
    padding:10px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
}
#one::before{
    content:'+';	
    margin-right: 10px;
    font-size:24px;
    font-weight:600;
} 

.accordion input[type="radio"]{
    display:none;
}

.accordion .content{
    color:#555;
    padding: 0 10px;
    line-height: 26px;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + #one::before{
    content:'-'
}
.accordion input[type="radio"]:checked + #two::before{
    content:'-'
}
.accordion input[type="radio"]:checked + #three::before{
    content:'-'
}
.accordion input[type="radio"]:checked + #four::before{
    content:'-'
}
.accordion input[type="radio"]:checked + #five::before{
    content:'-'
}
.accordion input[type="radio"]:checked + #six::before{
    content:'-'
}
#two::before{
    content:'+';	
    margin-right: 10px;
    font-size:24px;
    font-weight:600;
}
#three::before{
    content:'+';	
    margin-right: 10px;
    font-size:24px;
    font-weight:600;
}
#four::before{
    content:'+';	
    margin-right: 10px;
    font-size:24px;
    font-weight:600;
}
#five::before{
    content:'+';	
    margin-right: 10px;
    font-size:24px;
    font-weight:600;
}
#six::before{
    content:'+';	
    margin-right: 10px;
    font-size:24px;
    font-weight:600;
}
/*Apply and reset button*/
.submit{
background-color: #474143;
color: #eedfc7;
border: 3px solid #eedfc7;
margin: 4px 2px;
padding: 12px 24px;
border-radius: 8px;
text-align: center;
display: inline-block;
font-family: var(--font_content);
font-size: 15px;
cursor: pointer;
}
.submit:hover{
background-color: #7c7a7a;
text-shadow: #7c5802;
transform: scale(1.05);
}
.redo{
background-color: #474143;
color: #eedfc7;
border: 3px solid #eedfc7;
margin: 4px 2px;
padding: 12px 24px;
border-radius: 8px;
text-align: center;
display: inline-block;
font-family: var(--font_content);
font-size: 15px;
cursor: pointer;
}
.redo:hover{
background-color: #7c7a7a;
text-shadow: #7c5802;
transform: scale(1.05);
}


/* need to add some animation for for the titles. */