/* Fonts Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;500;600&family=Qwitcher+Grypen:wght@700&display=swap');
/* 
    Variables - Colors
        -> to use -> var( variable_name )
        -> Example -> background-color: var(--backgroud_light_color);
*/
*,*::after,*::before {
    box-sizing: border-box;
}

:root{
    --backgroud_light_color: #e6dcce;
    --main_dark_color: #474143;
    --main_shadow_color: #6B798C;
    --seccond_light_color: #384D68;
    --font_heading: 'IBM Plex Mono', monospace;
    --font_content: 'IBM Plex Mono', monospace;
    --font_higlight: 'Qwitcher Grypen', cursive;
    
    /* --main_light_color: #644304; */
    /* --seccond_dark_color:#06063D; */

    /* animation variables */
    --ease_in_out: all 1s ease-in-out;
    --animation-timing: 300ms ease-in-out;

     /* Hamburger Menu Variables */
     --bar-width: 60px;
     --bar-height: 8px;
     --hamburger-gap: 6px;
     --hamburger-margin: 8px;
     --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}




body{
    background-color: var(--backgroud_light_color);
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: var(--font_heading);
    color: var(--seccond_light_color);
}
p, a, li {
    font-family: var(--font_content);
    line-height: 1.8rem;
    letter-spacing: .13rem;
}
img{
    max-width: 45%;
    max-height: 500px;
    object-fit: cover;
}

/* Universal Class */

.container {
    margin: 0 auto;
    max-width: 90rem;
}

/* Mobiles */

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } 

  .btn{
    text-decoration: none;
    color: var(--main_dark_color);
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--main_dark_color);
    border-radius: 15%;
    transition-duration: 300ms;
  }
  .btn:hover{
    color: var(--backgroud_light_color);
    background-color: var(--main_dark_color);
    box-shadow: .015rem .015rem 1rem var(--seccond_light_color)
  }
  span{
    color: var(--seccond_light_color);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
  }
  



/* Navbar */

#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-nav #logo{
    color: var(--seccond_light_color);
    font-size: 3.5rem;
    font-family: var(--font_higlight);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
}

.hamburger_menu{
    display: none;
}


#main-nav ul {
    list-style: none;
}



#main-nav .sidebar ul li {
    display: inline-block;
    margin-top: 1rem
}

#main-nav .sidebar ul li a {
    color: var(--main_dark_color);
    text-decoration: none;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: var(--font_content);
    transition-duration: 300ms;
}


#main-nav .sidebar ul li a:hover {
    color: var(--seccond_light_color);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
    font-weight: bold;
    border: .1rem solid var(--main_shadow_color);
    border-radius: 10%;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

#main-nav .sidebar ul li a.active {
    
    border-bottom: .1rem solid var(--main_shadow_color);
    border-radius: 10%;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

/* responsive for navbar */
@media (max-width: 1199px) {
    #main-nav .sidebar ul li a { 
        padding: 0 .65rem;
    }
}

@media (max-width: 991px) {
    #main-nav {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 3rem;
        padding-right: 0;
    }
    #main-nav #logo{
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    #main-nav .sidebar ul {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    #main-nav .sidebar ul li {
        display: block;
        margin-top: 1rem 0;
    }
    #main-nav .sidebar ul li a {
        font-size: 1.6rem;
        line-height: 3.25rem;
    }

}
@media (max-width: 767px){
    #main-nav #logo{
        font-size: 4.25rem;
        margin-bottom: 1rem;
        margin-top: 1.25rem;
    }
    #main-nav .sidebar ul li {
        text-align: end;
        
    }
    #main-nav .sidebar ul li a {
        font-size: 1.05rem;
        line-height: 2.75rem;
    }
    /* Hamburger Menu */

    .hamburger_menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex; 
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;

        position: absolute;
        left: 80vw;
        top: 5vw;
        z-index: 2;
        cursor: pointer;
    }

    .hamburger_menu::after, 
    .hamburger_menu::before, 
    .hamburger_menu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--main_dark_color);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing), translate var(--animation-timing), rotate var(--animation-timing);
    }
    .hamburger_menu input{
        appearance: none;
        margin: 0;
        padding: 0;
        outline: none;
        pointer-events: none;
    }
    .hamburger_menu:has(input:checked)::before{
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }
    .hamburger_menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }
    .hamburger_menu input:checked{
        opacity: 0;
        width: 0;
    }
    .sidebar,
    .sidebar ul,
    .sidebar ul li,
    .sidebar ul li a {
        /* transition: translate var(--animation-timing); */
        transition: translate 300ms ease-in-out;
        translate: -200%;
        display: none;
        /* visibility: collapse; */
        text-align: end;
    }

    .hamburger_menu:has(input:checked) + .sidebar, 
    .hamburger_menu:has(input:checked) + .sidebar ul,
    .hamburger_menu:has(input:checked) + .sidebar ul li,
    .hamburger_menu:has(input:checked) + .sidebar ul li a
    {
        translate: 0%;
        display: contents;
        /* visibility: visible; */

    }
}


/* Footer */

footer{
    height: 8vh;
    background-color: var(--main_dark_color);
}

footer div{
    display: flex;
    justify-content: space-between;
    color: var(--backgroud_light_color);
}
footer p {
    font-size: 1rem;
}
/* responsive design for Footer */

@media (max-width: 991px) {
    footer{
        height: 9rem;
        text-align: center;
    }
    footer div{
        display: inline-block;
        text-align: center;
        margin: auto;
    }
    footer p {
        font-size: 1.5rem;
    }
}
@media (max-width: 767px){
    footer{
        height: 9.5rem;
    }
    footer p {
        font-size: .9rem;
        padding: 0 1rem;
    }
}


        /* -->> Index.html <<-- */


/* Welcome section */

#welcome {
    min-height: 70vh;
}
#welcome div{
    margin-left: 3.5vw;
}
#welcome .container div #welcome_text{    
    margin: 0 auto;
    margin-top: 3rem;
    /* margin-bottom: 2rem; */
    color: var(--main_shadow_color);
    font-size: 6rem;
    /* font-size: clamp(5vw, 6vw, 8vw); */
}
#welcome div #welcome_p a{
    text-decoration: none;
    color: var(--main_shadow_color);
    font-size: 2rem;
    margin: 3rem 1rem;
    transition-duration: 300ms;
}

#welcome div #welcome_p a:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
    color: var(--seccond_light_color);
}

#welcome .container #five_icon{
    text-align: center;
    margin: 0;
    color: var(--seccond_light_color);

    font-size: 40rem;

    position: absolute;
    left: 62%;
    top: 1%;
    text-shadow: 1rem 1rem var(--main_shadow_color), 1.2rem 1.2rem  var(--backgroud_light_color), 2rem 2rem  var(--main_dark_color);
    font-family: var(--font_heading);
} 
    /* About Us Section */

#about_home {
    display: flex;
    gap: 4rem;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}
#about_home #about_home_img {
    border-radius: 10%;
    box-shadow: .3rem .3rem .3rem var(--main_shadow_color);
}
#about_home div h2{
    font-size: 2.5rem;
    color: var(--main_shadow_color);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;
}
#about_home div p{
    padding-bottom: 2rem;
}
#about_home div a{
    font-size: 1rem;
}

    /* Jobs Section */

#jobs_img {
    margin-top: 3.5rem;
    height: 15rem;
    width: 100%;
    background-image: url(./images/our_journey.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    box-shadow: 0 .3rem .3rem var(--main_shadow_color), 0 -.3rem .3rem var(--main_shadow_color);
}
#jobs_img::after{
   content: '';
    position: absolute;
    inset: 0;
    background: var(--backgroud_light_color);
   z-index: -1;
    opacity: .4;
}
#jobs_home {
    margin-bottom: 3rem;
}
#jobs_home div h2{
    font-size: 2.5rem;
    color: var(--main_shadow_color);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;

    margin-top: 2rem;
}
#jobs_home div p{
    padding-bottom: 2rem;
}

    /*  Contact Section*/

#contacts_home h1 {
    margin-block-end: 0;
    text-align: center;
    font-size: 3rem;
    background-color: var(--main_shadow_color);
    color: var(--backgroud_light_color);
    padding: 2rem;
}
#contacts_home div {
    display: flex;
}
#contacts_home div .contacts {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: left;
    padding: 2rem;
    margin: 0 5vw;
}
#contacts_home div .contacts p{
    text-align: left;
}

/* Resonsive Design for Index.html */

@media (max-width: 1199px){
    #welcome {
        min-height: 65vh;
        margin-top: 0;
    }
    #welcome .container div #welcome_text{
        font-size: 5rem;
        margin-top: 2rem;

    }
    #welcome .container #five_icon{
        text-align: center;
        margin: 0;
        color: var(--seccond_light_color);
    
        font-size: 30rem;
    
        position: absolute;
        left: 60%;
        top: 6%;
        text-shadow: 1rem 1rem var(--main_shadow_color), 1.2rem 1.2rem  var(--backgroud_light_color), 2rem 2rem  var(--main_dark_color);
        font-family: var(--font_heading);
    }
    #contacts_home div .contacts { 
        margin: 0;
    }

}
@media (max-width: 991px) {
   
    #welcome .container {
        margin: 0;
        padding: 0;
    }

    #welcome .container div{
        margin-bottom: 0;
        padding-left: 2.8rem;
    }
    #welcome .container div #welcome_text{
        font-size: 6.2rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    #welcome div #welcome_p a{
        margin: 0;
    }
    #welcome .container #five_icon{
        display: block;
        position: static;
        margin: 0;
        padding: 0;
        text-align: left;
        margin-left: 15rem;
        font-size: 30rem;
    }

    #about_home{
        flex-direction: column;
        text-align: center;
    }
    #about_home div.container{
        padding: 0;
    }
    #about_home #about_home_img {
        display: none;
    }
    #about_home div h2{
        margin-top: 4rem;
        font-size: 3.75rem;
    }
    #about_home div p {
        font-size: 1.75rem;
        line-height: 4rem;
    }
    #about_home div a{
        font-size: 2.15rem;
    }
    
    #jobs_home {
        text-align: center;
    }
    #jobs_home .container{
        padding-left: 0;
    }
    #jobs_home div h2 {
        margin-top: 4rem;
        font-size: 3.75rem;
    }
    #jobs_home div p{
        font-size: 1.75rem;
        line-height: 4rem;
    }
    #jobs_home div a{
        font-size: 2.15rem;
    }


    #contacts_home h1 {
        margin-top: 5rem;
    }
    #contacts_home div {
        flex-direction: column;
    }
    #contacts_home div .contacts{
        width: 100vw;
        margin: 0;
        padding: 1.8rem 0;
        text-align: center;
    }
    #contacts_home div .contacts h2{
        font-size: 2.5rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    #contacts_home div .contacts p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 3rem;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-top: 1.5rem;
    }
}
@media (max-width: 767px){


    #welcome {
        min-height: 80vh;
    }
    
    #welcome .container div #welcome_text{
        /* font-size: 6.2rem; */
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        /* line-height: 2.75rem; */
        font-size: 2.5rem;
        line-height: 5rem;
    }
    #welcome div #welcome_p a{
        margin: 0;
        font-size: 1.5rem;
    }
    #welcome .container #five_icon{
        display: block;
        margin: 0;
        padding: 0;
        margin-left: 6rem;
        font-size: 18rem;
    }
    
    
    
    #about_home_content{
        text-align: center;
    }
    #about_home div h2{
        margin-top: 2rem;
        font-size: 2.75rem;
    }
    #about_home div p {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0 2rem 2rem 2rem;
        margin-top: 0;
    }
    #about_home div a{
        font-size: 1.3rem;
    }
    
    
    
    
    #jobs_home_content{
        text-align: center;
    } 
    
    #jobs_home div h2{
        margin-top: 2rem;
        font-size: 2.75rem;
    }
    #jobs_home div p {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0 2rem 2rem 2rem;
        margin-top: 0;
    }
    #jobs_home div a{
        font-size: 1.3rem;
    }


    #contacts_home h1 {
        margin-top: 4rem;
        font-size: 2.25rem;
    }
    #contacts_home div .contacts h2{
        font-size: 1.8rem;
    }
    #contacts_home div .contacts p{
        font-size: 1.1rem;
    }
}





        /* -->> about.html <<-- */


/* About us heading */
#about_us div h1{
    color: var(--main_shadow_color);
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 6rem 0 2rem 0;
}
#about_us #group_picture {
    border-radius: 10%;
    box-shadow: .3rem .3rem .3rem var(--main_shadow_color);
    margin: 2rem 0;
}
#about_us #group_basic_detail {
    font-family: var(--font_content);
    line-height: 3rem;
}
#about_us #group_basic_detail a {
    text-decoration: none;
    color: var(--main_dark_color);
    transition-duration: 300ms;
}
#about_us #group_basic_detail a:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
    color: var(--seccond_light_color);
}

/* Timetable */

#timetable table {
    border: .15rem solid var(--main_dark_color);
    box-shadow: .3rem .3rem .3rem var(--main_shadow_color);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: var(--font_content);
}
#timetable table tr {
    border: .15rem solid var(--main_dark_color);
}
#timetable table th {
    padding: 1rem;
    border: .15rem solid var(--main_dark_color);
    font-size: 1.25rem;
    text-shadow: 0.1rem 0.1rem 1rem var(--main_shadow_color);
}
#timetable table td {
    padding: 1rem;
    border: .15rem solid var(--main_dark_color);
}

/* universal class for section in this page */
.about_page_section {
    padding: 3rem;
}
.about_page_section div {
    margin: 2rem 4rem;
}
.about_page_section div h1{
    font-size: 2.5rem;
    color: var(--main_shadow_color);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;
}
#journey {
    display: flex;
    justify-content: space-between;
}
#journey img {
    border-radius: 10%;
    box-shadow: .3rem .3rem .3rem var(--main_shadow_color);
}
#journey div {
    padding-left: 1rem;
}

#whyus {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
#whyus img {
    border-radius: 10%;
    box-shadow: .3rem .3rem .3rem var(--main_shadow_color);
}
#whyus div {
    margin: 2rem;
}
    
/* Member Section */
#member {
    font-family: var(--font_content);
    line-height: 2rem
}
#member div h2{
    font-size: 2.5rem;
    color: var(--main_shadow_color);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;
}
#member hr {
    border-bottom: .2rem solid var(--main_shadow_color);
    border-radius: 30%;
}
#member h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
    text-shadow: 0.01rem 0.01rem .1rem var(--main_shadow_color), -0.01rem -0.01rem .1rem var(--main_shadow_color) ;
    color: var(--main_dark_color);
}
#member strong{
    font-size: 1.25rem;
}
#member a {
    color: var(--main_dark_color);
    transition-duration: 300ms;
}
#member a:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem var(--main_shadow_color);
    color: var(--seccond_light_color);

}

/* Connect Section */
#connect {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: .2rem solid var(--main_shadow_color);
    border-radius: 3%;
    padding: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
}
#connect p {
    border-left: .15rem solid var(--main_shadow_color);
    padding-left: 2rem;
}

/* Responsive design for about.html */

@media (max-width: 1199px){
    #journey img{
        margin-top: 3rem;
    }
}


@media (max-width: 991px){
   
    #about_us div h1{
        padding-left: 5rem;
    }

    #about_us #group_picture{
        min-width: 80vw;
        margin: auto;
        margin-left: 3rem;
    }

    #about_us #group_basic_detail{
        font-size: 1.75rem;
        line-height: 4.25rem;
        padding-left: 5rem;

    }

    #timetable table {
        margin-left: 1rem;
        margin-bottom: 3rem;
    }
    #timetable table th {
        font-size: 1.75rem;
    }
    #timetable table td {
        font-size: 1.5rem;
    }


    .about_page_section {
        padding: 0;
        text-align: center;
    }
    #journey {
        display: block;
    }
    #journey img{
        max-width: 80vw;
        margin: auto;
    }
    #journey div {
        padding-left: 0;
    }
    #journey div p{
        font-size: 1.75rem;
        line-height: 3rem;
    }
    #whyus {
        display: block;
    }
    #whyus img{
        max-width: 75vw;
        margin: auto;
    }
    #whyus div {
        padding-left: 0;
    }
    #whyus div p{
        font-size: 1.75rem;
        line-height: 3rem;
    }

    #member {
        margin-top: 6rem;
    }
    #member div h2{
        font-size: 3rem;
        text-align: center;
    }
    #member h3 {
        font-size: 2.5rem;
        padding: 0 3rem;
    }
    #member strong{
        font-size: 2rem;
        /* padding: 0 3rem; */
    }
    #member p{
        padding: 0 3rem;
        font-size: 1.75rem;
        line-height: 3rem;

    }
    #member li{
        font-size: 1.75rem;
        line-height: 3rem;
    }

    #connect {
        font-size: 2rem;
    }
    #connect p {
        font-size: 1.75rem;
        line-height: 3rem;
    }
}

@media (max-width: 768px){

    #about_us div h1{
       padding: 0;
       padding-left: 3rem;
    }
    #about_us #group_basic_detail{
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 0;
        margin-top: 0;
        padding-left: 2.5rem;
        /* text-align: center; */
    }
    #about_us #group_basic_detail dd{
        margin-left: 0;
        font-size: .9rem;
    }
    #timetable table {
        /* margin-left: 1rem; */
        align-self: center;
        margin-bottom: 2.5rem;
        max-width: 90vw;
    }
    #timetable table th {
        font-size: 1rem;
    }
    #timetable table td {
        font-size: .9rem;
    }

    #journey div h1 { 
        font-size: 2.2rem;
        margin-top: 3rem;
    }
    #journey div p{ 
        font-size: 1rem;
        line-height: 2rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    #whyus div h1 { 
        font-size: 2.2rem;
        margin-top: 3rem;
    }
    #whyus div p{ 
        font-size: 1rem;
        line-height: 2rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    #member div h2 {
        font-size: 2.2rem;
    }
    #member div h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    #member strong{
        font-size: 1.5rem;
        padding: 0;
        /* padding-left: 3rem; */
    }
    #member p{
        font-size: 1rem;
        line-height: 2rem;

    }
    #member li{
        font-size: 1rem;
        line-height: 2rem;
    }




    #connect {
        font-size: 1rem;
        padding: 1rem;
    }
    #connect p {
        font-size: 1rem;
        line-height: 2rem;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-left: 1rem;
    }
}


/* Jobs.html */

/* splits the first paragraph (intro) into its own div and shares it with the aside. */


.job_container {
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90rem;
}

.intro_container {
    flex: 1;
    align-items: center;
    margin-right: 1rem; 
}

.aside_container {
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 25%;
    flex-basis: 25%;
    
}

#job_aside {

    background-color: var(--backgroud_light_color);
    width: auto;
    float: right; 
    position: fixed;

    top: 10rem;
    z-index: 100;
    padding: 1rem;
    border: .15rem solid var(--main_shadow_color);
    box-shadow: 0 .15rem .15rem var(--main_shadow_color), 0 -.15rem .15rem var(--main_shadow_color);
    /* left: calc(75% - 25%); */
}

#job_aside h2{
    text-align: center;
}

  #job_aside a:hover {
    text-decoration: underline; 
}
  #job_aside a {
    text-decoration: none; 
    font-family: var(--font_content);
    color: var(--seccond_light_color); 
}
  

/* this apply button links jobs to apply form. */
.apply_button {
    background-color: var(--main_dark_color);
    color: var(--backgroud_light_color);
    border: 3px solid var(--backgroud_light_color);
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font_content);
    font-size: 20px;
    cursor: pointer;
    /* basic fade animation over 1s */
    transition: var(--ease_in_out);
    transition: transform 0.05s ease-in-out;
    position: absolute;
    z-index: 2;
    top: 50%; 
    left: 5%; 

}
  /* button to change when hovered. border changes with the same width so as to only change color */
.apply_button:hover{
    
    background-color: #7c7a7a;
    border: 3px solid var(--seccond_light_color);
    text-shadow: var(--main_shadow_color);
    transform: scale(1.05);
    
}

/*
Apply button should sit infront of image, to the left but padded in slightly in the centre.

*/

#job-banner {
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url(./images/about_us.jpg);
    background-size: cover;
    background-position: center;
}
#job-banner-cover-top{
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    z-index: 1; 
    box-shadow: 0 .3rem .3rem var(--main_shadow_color), 0 -.3rem .3rem var(--main_shadow_color);
}

#job-banner1 {
    position: relative;
    height: 200px;
    width: 100%;
    background-image: url(./images/Group_1.jpg); 
    background-size: cover;
    background-position: center;
    box-shadow: 0 .3rem .3rem var(--main_shadow_color), 0 -.3rem .3rem var(--main_shadow_color);
    /* Banner1(Group_1): https://unsplash.com/photos/-uHVRvDr7pg */
}

#job-banner2 {
    position: relative;
    height: 200px;
    width: 100%;
    background-image: url(./images/Tech_Support.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 .3rem .3rem var(--main_shadow_color), 0 -.3rem .3rem var(--main_shadow_color);

}
#job-banner-cover{
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    z-index: 1; 
}

/* Responsive Design for jobs.html */

@media (max-width: 1199px){
    #job-banner {
        height: 250px;
    }
    #job-banner-cover-top{
        height: 250px;
        width: 100%;
    }
    #job-banner1 {
        height: 200px;
    }
    #job-banner2 {
        height: 200px;
    }
    .apply_button {
        font-size: 1.5rem;
        padding: 10px 20px;
    }
}

@media (max-width: 991px){
    #job-banner {
        height: 250px;
    }
    #job-banner-cover-top{
        height: 250px;
        width: 100%;
    }
    #job-banner2 {
        height: 200px;
    }
    #job-banner-cover{
        height: 200px;
        width: 100%;
    }
    .apply_button {
        font-size: 1.5rem;
        padding: 10px 20px;
    }
}

@media (max-width: 767px){
    #job-banner {
        height: 200px;
    }
    #job-banner-cover-top{
        height: 200px;
        width: 100%;
    }
    #job-banner1 {
        height: 150px;
    }
    #job-banner2 {
        height: 150px;
    }
    #job-banner-cover{
        height: 150px;
        width: 100%;
    }
    .apply_button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}


/*  End jobs.HTML 
________________________________________________________________________________

*/




/*Apply.html*/
/*change basic things in the form*/
h1.apply_title {
    text-align: center;
}

fieldset {
    box-sizing: border-box;
    border-radius: 3px;
    margin: 3%;
    padding: 2%;
}

#check {
    color: var(--main_shadow_color);
    font-family: var(--font_heading);
}

legend {
    font-family: var(--font_heading);
    color: var(--seccond_light_color);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;
}

p.word {
    font-size: 13px;
}

label {
    font-family: var(--font_heading);
}

p {
    letter-spacing: 2px;
}

body.apply .required::after {
    content: "*";
    color: red;

}

body.apply fieldset p input.texts {
    width: 80%;
    padding: 10px 20px;
    margin: px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#state {
    width: 80%;
    padding: 10px 20px;
    margin: px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*---------------------------------*/
/*Cursor pointer*/
.personal_info input[type="radio"] {
    cursor: pointer;
}

input#dob::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
select:hover{
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
/*--------------------------------*/
/*Upload file*/
.upload-box {
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000000;
    width: 350px;
    outline: none;
    left: auto;
    cursor: pointer;
}

.file-upload-button {
    background: #206a5d;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
    cursor: pointer;
}

/*Apply, reset button*/
.submit {
    background-color: #474143;
    color: #eedfc7;
    border: 3px solid #eedfc7;
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-family: var(--font_content);
    font-size: 15px;
    cursor: pointer;
}

.submit:hover {
    background-color: #7c7a7a;
    text-shadow: #7c5802;
    transform: scale(1.05);
}

.redo {
    background-color: #474143;
    color: #eedfc7;
    border: 3px solid #eedfc7;
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-family: var(--font_content);
    font-size: 15px;
    cursor: pointer;
}

.redo:hover {
    background-color: #7c7a7a;
    text-shadow: #7c5802;
    transform: scale(1.05);
}
/*Back to the top button*/
html {
scroll-behavior: smooth;
}

.back-to-top {
position: fixed;
bottom: 2rem;
right: 1rem;
display: inline-flex;
align-items: center;
justify-content: center;
background-color: #474143;
border-radius: 0.5rem;
padding: 0.2rem;
text-decoration: none;
transition: 0.2s ease-out;
}

.back-to-top span {
color: #fff;
font-size: 3rem;
transition: 0.2s ease-out;
}

.back-to-top:hover {
background-color: #7c7a7a;
}
.back-to-top:hover span {
transform: translateY(-4px);
}
/* Enhancement.html responsive */

#enhancement {
    padding: 5rem;
}

@media (max-width: 991px){
    #enhancement {
        padding: 3rem;
        padding-right: 0;
        font-size: 1.5rem;
    }
    #enhancement div p{
        line-height: 3rem;
    }
    #enhancement div a{
        font-size: 1.5rem;
    }
}
@media (max-width: 767px){
    #enhancement {
        padding: 2rem;
        padding-right: 0;
        font-size: 1rem;
    }
    #enhancement div p{
        line-height: 3rem;
    }
    #enhancement div a{
        font-size: 1rem;
    }
}
@media (max-width: 400px){
    #enhancement div a{
        font-size: .8rem;
    }
}





/* Manage.php */

.outer-wrapper {
    border: .15rem solid var(--main_dark_color);
}
.table-wrapper {
    margin: 2rem;
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
    border: .15rem solid var(--main_dark_color);
}
#m_table {
    
    border: .15rem solid var(--main_dark_color);
    min-width: 80vw;
    border-spacing: 0px;    
    border-collapse: collapse;
    text-align: center;
    font-family: var(--font_content);
}
#m_table tr th, #m_table tr td {
    border: .15rem solid var(--main_dark_color);
    padding: 15px;
}
#m_table tr th {
    position: sticky;
    top: 0px;
    background-color: var(--main_shadow_color);
    color: var(--backgroud_light_color);
    font-size: 1.15rem;
}
#m_table tr td {
    padding: .25rem;
    border: .15rem solid var(--main_dark_color);
    font-size: .85rem;
} 